.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border-radius: 2rem;
  width: 20rem;
  height: 5rem;
  background-color: black;
  color: white;
  border: solid .1rem;
  padding: .5rem 1rem;
  margin: 1rem 2rem;
  font-size: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-container {
  border: solid white;
  padding: 1rem 3rem;
  font-size: 4rem;
}

h1 {
  font-size: 6rem;
  margin: 4rem auto;
}

.buttons-container {
  max-width: 60rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}